h1{
    color: rgb(26, 24, 24);
    width: 872px;
    font-size: 50px;
    text-align: center;
    margin: auto;
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: rgb(201, 237, 237);
}

main {
    width: auto;
    margin: auto;
    text-align: start;
}

.user_message{
    width: auto;
}

.user_message{
    font-family: 'Noto Sans', sans-serif;
    color: rgb(174, 213, 216);
    background-color: rgb(17, 18, 49);
    border-radius: 29px;
    width: auto;
    height: auto;
    font-style: italic;
    font-size: x-small;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
}

section img{
    height: 450px;
    width: 100%;
    margin-top: -8px; 
    margin-left: -8px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.bio {
    height: auto;
    width: auto;
    margin-top: 20px;
    padding: 11px;
    padding-bottom: 30px;
    text-align: start;
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
    line-height: 40px;
    word-spacing: 2px;   
    color: rgb(26, 24, 24);
}

div{
    width: 700px;
    margin-top: 90px auto;
    margin-left: 100px;
    font-family: 'Noto Sans', sans-serif;
    border: 2px solid black;
    border-radius: 29px;
    margin-bottom: 10px;

}

div h3{
    text-align: center;
    border: 2px solid black;
    border-radius: 29px;
    width: 80%;
    align-items: center;
    margin-left: 50px;
    color:rgb(201, 237, 237);
    background-color: rgb(26, 24, 24);
}

div ul {
    margin-left: 30px;
    font-size: large;
    line-height: 35px;
}

div img{
    width: 80%;
    height: 400px;
    border-radius: 29px;
    margin-left: 50px;
}

.places{
    width: 700px;
    margin-top: 90px auto;   
    margin-left: 100px; 
    font-family: 'Noto Sans', sans-serif;
    border: 2px solid black;
    border-radius: 29px;
}

.places h3{
    text-align: center;
    border: 2px solid black;
    border-radius: 29px;
    width: 80%;
    align-items: center;
    margin-left: 50px;
    color: rgb(201, 237, 237);
    background-color: rgb(26, 24, 24);
    
}

.places img{
    width: 80%;
    height: 400px;
    border-radius: 29px;
    margin-left: 50px;
}

.places ol{
    margin-left: 30px;
    font-size: large;
    line-height: 35px;
}

footer{
    text-align: start;
    padding-left: 29px;
    border: 2px solid black;
    border-radius: 29px;
    width: 80% auto;
    align-items: center;
    color: rgb(201, 237, 237);
    background-color: rgb(26, 24, 24);
    margin-top: 2px;
}

ul{
    line-height: 40px;
}